body{
    background-color: whitesmoke;
    max-width: 800px;
    margin: 0 auto;
    line-height: 1.6;
    text-align: justify;
    padding: 15px 25px;
    border-radius: 8px;
    font-style: italic;
    color:black;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url()
    
}

p:hover{
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
}

img{
    height: 120px;
}

.box{
    background-color: gold;
    padding: 20px;
    margin-left: 80px;
    margin-right: 120px;
}

table{
    background-color: aliceblue;
}
